@{
    ViewBag.Title = "Rave Radar | Maintenance";
    Layout = "~/Views/Layouts/_SplashLayout.cshtml";
 }

<div class="hero-unit">
  <div class="row-fluid">
      <div class="thumbnail span2">
        <img src="@Url.Content("~/Content/Images/icon_full.png")" alt="Rave Radar" />
      </div>
      <div class="span10 splash-text">
          <h1>We're down for maintenance...</h1>
          <h3>One of our Code Monkeys broke something, we'll be back soon! :D</h3>
      </div>
  </div>
</div>