@model RaveRadar.Models.AlertMessage

<div class="alert @Model.CssClass no-margin alert-message">
    @if (Model.EnableClose) { <button type="button" class="close" data-dismiss="alert">×</button> }
    <span>@if (!String.IsNullOrWhiteSpace(Model.Header)) { <strong>@Model.Header </strong> }@Model.Body</span>
</div>