<ul class="nav pull-right" style="margin-right: 5px;">
    <li class="divider-vertical"></li>
    <li>       
        <div><a class="btn btn-primary disabled"><i class="icon-facebook"></i> <span>Sign in</span></a></div>
    </li>
</ul>